<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="Motor , rent , rent motor bike">
    <meta name="discription" content="Rent a motorcycle or own a motorcycle">
    <meta name="author" content="Eleomar Halaman ">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = '<%=stripePublicKey%>'
    </script>
    <script src="store.js" defer></script>
    <link rel="stylesheet" href="hondaa.css">
    <title>Re-Motorbike | Home</title>
</head>
<body class="container full-height-grow">
    <header class="main-header">
        <a href="/" class="brand-logo">
            <img src="images/logo.png">
            <div class="brand-logo-name"><span class="current">Ren</span>-MotorBike</div>
        </a>
        <nav class="nav main-nav">
            <div id="branding">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li>
                        <a href="rent.html" class="cart-logo">
                            <img src="images/recent.png">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="main-section ">
        <div>
            <h1 class="title"><span class="current">Honda</span> Motor Company</h1>
            <span class="subtitle">Honda Motor Company, Ltd. is a Japanese public 
                multinational conglomerate corporation primarily known as a ma
                nufacturer of automobiles, motorcycles, and power equipment.</span>
            
        </div>
            <div class="the-honda-small">
            <img class="the-honda" src="images/honda1.png">
            </div>
    </section>

    <section class="terms"> 
        <h1 class="term">AVAILABLE MOTORCYCLE BIKE</h1>
    </section>
    <section class="container content-section">
        <div class="shop-items">
            <% items.bike.forEach(function (item) { %> 
                <div class="shop-item" data-item-id="<%=item.id%>" >
                    <span class="shop-item-title"><%=item.name %> </span>
                    <img class="shop-item-image" src="images/<%= item.imgName%>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">SRP:₱ <%= item.price / 100 %> </span>
                        <button class="btn1 btn-primary shop-item-button" type="button">Add To Cart</button>
                    </div>    
                </div>
             <% }) %> 
    </div>
    </section>
    <section class="terms">
        <h1 class="term">MERCH</h1>
    </section>
    <section class="container content-section">
        <div class="shop-items">
            <% items.merch.forEach(function (item) { %> 
                <div class="shop-item" data-item-id="<%=item.id%>" >
                    <span class="shop-item-title"><%=item.name %> </span>
                    <img class="shop-item-image" src="images/<%= item.imgName%>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">SRP:₱ <%= item.price / 100%></span>
                        <button class="btn1 btn-primary shop-item-button" type="button">Add To Cart</button>
                    </div>    
                </div>
             <% }) %> 
        </div>
    </section>
    <section class="terms content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span  class="cart-item cart-header cart-column">ITEM</span>
            <span  class="cart-price cart-header cart-column">PRICE</span>
            <span  class="cart-quantity cart-header cart-column">QUANTITY</span> 
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">TOTAL</strong>
            <span class="cart-total-price">₱0</span>
            </div>
            <button class="btn1 btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
    <footer class="main-footer">
        <div class="container">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#" class="link">
                                 Blogs
                            </a>
                    </li>
                    <li>
                        <a href="about.html" class="link">
                               Learn More
                            </a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#" class="link">
                            <img src="images/fblogo.png"> RentMotorBike
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link">
                            <img src="images/twitlogo.png">@RentMotorBike
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>

</body>

</html>